.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 20%;
    border: 1px solid rgb(243, 242, 242);
    border-radius: 10px;
}

.logo{
    display: flex;
    align-items: center;
}
